<% unless @compilations.empty? %>
<table class="table table-striped table-sorter">
    <thead>
        <tr><th>ID</th><th>コンピ名</th><th>締め切り</th><th>作成日時</th><th>変更日時</th><th></th></tr>
    </thead>
    <tbody>
    <% @compilations.each do |compilation| %>
        <tr>
            <td><%= compilation.compilation_name %></td>
            <td><%= CGI.escapeHTML compilation.title.to_s %></td>
            <td><%= compilation.deadline %></td>
            <td><%= compilation.created_at %></td>
            <td><%= compilation.updated_at %></td>
            <td><a href="/admin/compilations/<%= compilation.compilation_name %>">編集</a></td>
        </tr>
    <% end %>
    </tbody>
</table>
<% end %>
<h2>新しいコンピを作成する</h2>
<form id="add-compilation" class="form-horizontal">
    <div class="form-group">
        <label class="control-label col-sm-3" for="compilation_name">ID (*)</label>
        <div class="col-sm-9">
            <input class="form-control" type="text" name="compilation_name" />
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-3" for="title">コンピ名 (*)</label>
        <div class="col-sm-9">
            <input class="form-control" type="text" name="title" />
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-3" for="description">コンピ概要 (*)</label>
        <div class="col-sm-9">
            <textarea class="form-control" name="description" cols="40" rows="10"></textarea>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-3" for="requirement">要件 (1行に1つの要件)</label>
        <div class="col-sm-9">
            <textarea class="form-control" name="requirement" cols="40" rows="10"></textarea>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-3" for="deadline">締め切り (*)</label>
        <div class="col-sm-9">
            <input class="form-control" type="datetime-local" name="deadline" value="<%= Time.current.strftime "%Y-%m-%dT%H:%M" %>" />
        </div>
    </div>
    <button class="btn btn-primary col-sm-offset-3" type="button">作成</button>
</form>
<p><a class="btn btn-default" href="/admin">戻る</a></p>
