<table class="table table-striped">
    <thead>
        <tr><th>ID</th><th>title</th><th>deadline</th><th>created at</th><th>updated at</th><th></th></tr>
    </thead>
    <tbody>
    <% @compilations.each do |compilation| %>
        <tr>
            <td><%= compilation.compilation_name %></td>
            <td><%= compilation.title %></td>
            <td><%= compilation.deadline.in_time_zone 'Asia/Tokyo' %></td>
            <td><%= compilation.created_at.in_time_zone 'Asia/Tokyo' %></td>
            <td><%= compilation.updated_at.in_time_zone 'Asia/Tokyo' %></td>
            <td><a href="/admin/compilations/<%= compilation.compilation_name %>">edit</a></td>
        </tr>
    <% end %>
    </tbody>
</table>
<h2>Hold new Compilation</h2>
<form method="POST" action="">
    <p>
    <label for="compilation_name">ID: </label>
    <input type="text" name="compilation_name" />
    </p>
    <p>
    <label for="title">title: </label>
    <input type="text" name="title" />
    </p>
    <p>
    <label for="description">description: </label>
    <textarea name="description" cols="40" rows="10"></textarea>
    </p>
    <p>
    <label for="requirement">requirement (newline delimited): </label>
    <textarea name="requirement" cols="40" rows="10"></textarea>
    </p>
    <p>
    <label for="deadline">deadline: </label>
    <input type="datetime-local" name="deadline" value="<%= Time.current.strftime "%Y-%m-%dT%H:%M" %>" />
    </p>
    <p>
    <input type="submit" value="create" />
    </p>
</form>
<p><%= @error_message %></p>
<p><a href="/admin">Back</a></p>
