<table class="table table-striped">
    <thead>
        <tr><th>ID</th><th>name</th><th>contact</th><th>created at</th><th>updated at</th></tr>
    </thead>
    <tbody>
    <% @composers.each do |composer| %>
        <tr>
            <td><%= composer.registration_id %></td>
            <td><%= CGI.escapeHTML composer.name.to_s %></td>
            <td><%= CGI.escapeHTML composer.contact.to_s %></td>
            <td><%= composer.created_at %></td>
            <td><%= composer.updated_at %></td>
            <td><a href="/admin/composers/<%= composer.registration_id %>">edit</a></td>
        </tr>
    <% end %>
    </tbody>
</table>
<h2>Add new composer</h2>
<form id="add-composer" class="form-horizontal">
    <div class="form-group">
        <label class="control-label col-sm-3" for="registration_id">ID </label>
        <div class="col-sm-9">
            <input class="form-control" type="text" name="registration_id" />
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-3" for="password">password </label>
        <div class="col-sm-9">
            <input class="form-control" type="password" name="password" />
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-3" for="password_confirmation">password (confirmation) </label>
        <div class="col-sm-9">
            <input class="form-control" type="password" name="password_confirmation" />
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-3" for="name">name </label>
        <div class="col-sm-9">
            <input class="form-control" type="text" name="name" />
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-3" for="contact">contact (optional) </label>
        <div class="col-sm-9">
            <input class="form-control" type="text" name="contact" />
        </div>
    </div>
    <button class="btn btn-primary col-sm-offset-3" type="button">add</button>
</form>
<p><a class="btn btn-default" href="/admin">Back</a></p>
