<p><%= @text %></p>
<h2>Participating compilations</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>compilation title</th>
            <th>deadline</th>
            <th>submission</th>
            <th>song title</th>
            <th>artist</th>
            <th>comment</th>
        </tr>
    </thead>
    <tbody>
    <% @participations.each do |participation| %>
        <tr>
            <td><%= participation.compilation.title %></td>
            <td><%= participation.compilation.deadline %></td>
            <td><%= participation.submission %></td>
            <td><%= participation.song_title %></td>
            <td><%= participation.artist %></td>
            <td><%= participation.comment %></td>
            <td><a href="/<%= participation.compilation.compilation_name %>">detail</a></td>
            <td><a href="/<%= participation.compilation.compilation_name %>/submit">submit</a></td>
        </tr>
    <% end %>
    </tbody>
</table>
<h2>Settings</h2>
<%= erb :modify_composer, layout: false %>
<form method="POST" action="/logout">
    <p>
    <input type="submit" value="logout" />
    </p>
</form>
