<p><%= CGI.escapeHTML @text.to_s %></p>
<h2>Participating compilations</h2>
<table class="table table-striped table-sorter">
    <thead>
        <tr>
            <th>compilation title</th>
            <th>deadline</th>
            <th>submission</th>
            <th>song title</th>
            <th>artist</th>
            <th>comment</th>
        </tr>
    </thead>
    <tbody>
    <% @participations.each do |participation| %>
        <tr>
            <td><a href="/<%= participation.compilation.compilation_name %>"><%= CGI.escapeHTML participation.compilation.title.to_s %></a></td>
            <td><%= participation.compilation.deadline %></td>
            <td<%= ' class="danger"' if participation.late? %>><%= participation.submission %></td>
            <td><%= CGI.escapeHTML participation.song_title.to_s %></td>
            <td><%= CGI.escapeHTML participation.artist.to_s %></td>
            <td><%= CGI.escapeHTML participation.comment.to_s %></td>
        </tr>
    <% end %>
    </tbody>
</table>
<%= erb :composer_info, layout: false %>
<%= erb :composer_modification, layout: false %>
<form method="POST" action="/logout">
    <p>
    <input class="btn btn-default" type="submit" value="logout" />
    </p>
</form>
