<%= erb :compilation_info, layout: false %>
<h2>Participations</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>composer name</th>
            <th>submitted at</th>
            <th>artist</th>
            <th>song title</th>
            <th>comment</th>
            <th>download</th>
        </tr>
    </thead>
    <tbody>
    <% @compilation.participations.each do |participation| %>
        <tr>
            <td><%= participation.composer.registration_id %></td>
            <td><%= participation.composer.name %></td>
            <td><%= participation.submission %></td>
            <td><%= participation.artist %></td>
            <td><%= participation.song_title %></td>
            <td><%= participation.comment %></td>
            <td><a href="<%= participation.download_url %>">Download</a></td>
        </tr>
    <% end %>
    </tbody>
</table>
<form id="add-participant" class="form-inline">
    <div class="form-group">
        <select class="form-control" name="registration_id">
        <% @composers.each do |composer| %>
            <option value="<%= composer.registration_id %>"><%= composer.name %> (<%= composer.registration_id %>)</option>
        <% end %>
        </select>
    </div>
    <button class="btn btn-primary" type="button">participate</button>
</form>
<p><a href="<%= @compilation.download_all_url %>" target="_blank">Download all</a></p>
<h2>Modify compilation</h2>
<form id="modify-compilation" class="form-horizontal">
    <div class="form-group">
        <label class="control-label col-sm-3" for="compilation_name">ID </label>
        <div class="col-sm-9">
            <input class="form-control" type="text" name="compilation_name" />
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-3" for="title">title </label>
        <div class="col-sm-9">
            <input class="form-control" type="text" name="title" />
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-3" for="description">description </label>
        <div class="col-sm-9">
            <textarea class="form-control" name="description" cols="40" rows="10"><%= @compilation.description %></textarea>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-3" for="requirement">requirement (newline delimited) </label>
        <div class="col-sm-9">
            <textarea class="form-control" name="requirement" cols="40" rows="10"><%= @compilation.requirement %></textarea>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-3" for="deadline">deadline </label>
        <div class="col-sm-9">
            <input class="form-control" type="datetime-local" name="deadline" value="<%= @compilation.deadline.strftime "%Y-%m-%dT%H:%M" %>" />
        </div>
    </div>
    <button class="btn btn-primary col-sm-offset-3" type="button">modify</button>
</form>
<a class="btn btn-default" href="/admin/compilations">Back</a>
