<p>
<% @compilation.description.each_line do |line| %>
    <%= line.chomp %><br />
<% end %>
</p>
<h2>Requirements</h2>
<ul>
<% @compilation.requirement.each_line do |requirement| %>
    <li><%= requirement %></li>
<% end %>
</ul>
<h2>Deadline</h2>
<p><%= @compilation.deadline %></p>
<h2>Participations</h2>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>composer name</th>
            <th>submitted at</th>
            <th>artist</th>
            <th>song title</th>
            <th>comment</th>
            <th>download</th>
        </tr>
    </thead>
    <tbody>
    <% @compilation.participations.each do |participation| %>
        <tr>
            <td><%= participation.composer.registration_id %></td>
            <td><%= participation.composer.name %></td>
            <td><%= participation.submission %></td>
            <td><%= participation.artist %></td>
            <td><%= participation.song_title %></td>
            <td><%= participation.comment %></td>
            <td><a href="<%= participation.download_url %>">Download</a></td>
        </tr>
    <% end %>
    </tbody>
</table>
<p><a href="<%= @compilation.download_all_url %>" target="_blank">Download All</a></p>
<h2>Modify compilation</h2>
<form method="POST" action="/admin/compilations/<%= @compilation.compilation_name %>/participations">
    <select name="registration_id">
    <% @composers.each do |composer| %>
        <option value="<%= composer.registration_id %>"><%= composer.name %> (<%= composer.registration_id %>)</option>
    <% end %>
    </select>
    <input type="submit" value="participate" />
</form>
<form method="POST" action="">
    <p>
    <label for="compilation_name">ID: </label>
    <input type="text" name="compilation_name" />
    </p>
    <p>
    <label for="title">title: </label>
    <input type="text" name="title" />
    </p>
    <p>
    <label for="description">description: </label>
    <textarea name="description" cols="40" rows="10"><%= @compilation.description %></textarea>
    </p>
    <p>
    <label for="requirement">requirement (newline delimited): </label>
    <textarea name="requirement" cols="40" rows="10"><%= @compilation.requirement %></textarea>
    </p>
    <p>
    <label for="deadline">deadline: </label>
    <input type="datetime-local" name="deadline" value="<%= @compilation.deadline.strftime "%Y-%m-%dT%H:%M" %>" />
    </p>
    <p>
    <input type="submit" value="modify" />
    </p>
</form>
<p><%= @error_message %></p>
<a href="/admin/compilations">Back</a>
