<p class="lead">
WCSS is a supporting system for Web compilations.
</p>
<p>
You can
<ul>
    <li>organize and manage compilations</li>
    <li>submit a track to compilation</li>
    <li>register track information</li>
</ul>
by using this system.
</p>
<h1>Compilations (now in session)</h1>
<% unless @compilations.empty? %>
<table class="table table-striped table-sorter">
    <thead>
        <tr><th>title</th><th>description</th><th>deadline</th></tr>
    </thead>
    <tbody>
    <% @compilations.each do |compilation| %>
        <tr>
            <td><a href="/<%= compilation.compilation_name %>"><%= CGI.escapeHTML compilation.title.to_s %></a></td>
            <td><%= compilation.description.chomp[0, 30] %><%= ' ...' if compilation.description.length > 30 %></td>
            <td><%= compilation.deadline %></td>
        </tr>
    <% end %>
    </tbody>
</table>
<% end %>
<h1>Past compilations</h1>
<% unless @past_compilations.empty? %>
<table class="table table-striped table-sorter">
    <thead>
        <tr><th>title</th><th>description</th><th>deadline</th></tr>
    </thead>
    <tbody>
    <% @past_compilations.each do |compilation| %>
        <tr>
            <td><a href="/<%= compilation.compilation_name %>"><%= CGI.escapeHTML compilation.title.to_s %></a></td>
            <td><%= compilation.description.chomp[0, 30] %><%= ' ...' if compilation.description.length > 30 %></td>
            <td><%= compilation.deadline %></td>
        </tr>
    <% end %>
    </tbody>
</table>
<% end %>
