<p class="lead">
WCSSはWebコンピレーションを支援するシステムです。
</p>
<p>
このシステムでは、
<ul>
    <li>コンピ情報の登録、管理</li>
    <li>コンピへの楽曲提出</li>
    <li>楽曲情報の管理</li>
</ul>
をWebベースで実現します。
</p>
<h1>開催中のコンピ</h1>
<% unless @compilations.empty? %>
<table class="table table-striped table-sorter">
    <thead>
        <tr><th>コンピ名</th><th>概要</th><th>締め切り</th></tr>
    </thead>
    <tbody>
    <% @compilations.each do |compilation| %>
        <tr>
            <td><a href="/<%= compilation.compilation_name %>"><%= CGI.escapeHTML compilation.title.to_s %></a></td>
            <td><%= compilation.description.chomp[0, 30] %><%= ' ...' if compilation.description.length > 30 %></td>
            <td><%= compilation.deadline %></td>
        </tr>
    <% end %>
    </tbody>
</table>
<% end %>
<h1>終了したコンピ</h1>
<% unless @past_compilations.empty? %>
<table class="table table-striped table-sorter">
    <thead>
        <tr><th>コンピ名</th><th>概要</th><th>締め切り</th></tr>
    </thead>
    <tbody>
    <% @past_compilations.each do |compilation| %>
        <tr>
            <td><a href="/<%= compilation.compilation_name %>"><%= CGI.escapeHTML compilation.title.to_s %></a></td>
            <td><%= compilation.description.chomp[0, 30] %><%= ' ...' if compilation.description.length > 30 %></td>
            <td><%= compilation.deadline %></td>
        </tr>
    <% end %>
    </tbody>
</table>
<% end %>
